<div class="contents-page">
  <div class="upper-bar">
    <img class="bg" src="/images/img_bkgd_contents3.jpg">
    <h1>Table of Contents</h1>
    <p>Ecuador 2014</p>
  </div>
  <div class="white-container">
    <div class="chapter-container">
      <!-- THE GANG -->
      <div class="chapter">
        <h2 class="title">Meet The Gang</h2>
        <h3 class="description">The trip was inspiring for multiple reasons, 5 in fact: Alpha, Evelyn, Billy, Phoung, and Gerald. </h3>
        <h4 class="tags">Alpha, Phuong, Evelyn, Billy, Gerald, and Heather</h4>
        <img class="teaser">
      </div>
      <!-- DAY 01: TRAVELLING -->
      <div class="chapter">
        <h2 class="title">Day 01: Austin - Houston - Bogota - Guayaquil</h2>
        <h3 class="description">Flew up with Billy & Evelyn where we met Oumar and Gerald in Houston before meeting up with Phuong in Guayaquil.</h3>
        <h4 class="tags">Planes, Group shots, Travelling outfits</h4>
        <img class="teaser">
      </div>
      <!-- DAY 02: INTERNATIONAL PARK, OLD GUIYAQUIL, DOLLS -->
      <div class="chapter">
        <h2 class="title">Day 02: Why Hello Ecuador!</h2>
        <h3 class="description">We explored the city of Ecuador, which was covered in 6ft tall wooden/paper sculptures! Then we travelled to the International park before checking out old Guayaquil village!</h3>
        <h4 class="tags">Sea of Sculptures, Ecuador animals, Ecuador food, Old Guayaquil village</h4>
        <img class="teaser">
      </div>
      <!-- DAY 03: GALAPAGOS TICKETS, DRIVING, HOTEL, BEACH -->
      <div class="chapter">
        <h2 class="title">Day 03: To the (Salinas) Beach!</h2>
        <h3 class="description">Bought Galapagos tickets in the morning before heading out to Salinas by early afternoon. After a 2 hour drive we were greeted with a beautiful beach!</h3>
        <h4 class="tags">Christmas tree, architecture, mountains, beaches, Salinas</h4>
        <img class="teaser">
      </div>
       <!-- DAY 04:  -->
      <div class="chapter">
        <h2 class="title">Day 04: Celebrating New Years - or "Holy Hell So THAT'S How You Do It!"</h2>
        <h3 class="description">Bought Galapagos tickets in the morning before heading out to Salinas by early afternoon. After a 2 hour drive we were greeted with a beautiful beach!</h3>
        <h4 class="tags">Christmas tree, architecture, mountains, beaches, Salinas</h4>
        <img class="teaser">
      </div>
       <!-- DAY 05:  -->
      <div class="chapter">
        <h2 class="title">Day 05: To the (Salinas) Beach!</h2>
        <h3 class="description">Bought Galapagos tickets in the morning before heading out to Salinas by early afternoon. After a 2 hour drive we were greeted with a beautiful beach!</h3>
        <h4 class="tags">Christmas tree, architecture, mountains, beaches, Salinas</h4>
        <img class="teaser">
      </div>



    </div>
  </div>

</div>